@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #59DEC7;
}

table
{
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
    margin: auto;
    background-color: white;
}
td 
{
    border: 1.5px solid black;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    padding: 20px;
    
}

h1 
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.formulaire 
{
    text-decoration: none;
    display:flex;
    justify-content: center;
    margin: 30px;
    font-size: 30px;
    font-family: "Monserrat", sans-serif;
    color:Black;   
}

.repas {
    background-color:grey;
}

.loisir {
    background-color:lightcoral;
}

.travail {
    background-color:orange;
}

.autre { 
    background-color:blueviolet;
}

#legende {
    width: 40%;
    margin-left: 453px;
    margin-right: 30px;
}

p { 
    font-family: "Monserrat", sans-serif;
    text-align: center;
    font-size: 26px;
}